<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Willkommen!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/main.css" />
        {% endblock %}
    </head>
    <body>
        <div class="container p-2">
            {% block header %}{% include('header.html.twig') %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% include('footer.html.twig') %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
