<header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <img src="https://jobs.schwarz/var/career_sdl/storage/images/_aliases/header_logo/7/6/7/8/8767-1-ger-DE/SDL-Logo.png" alt="" />
            </div>
            <div class="col-12 col-lg-9 pt-2">
                <span>Manche überlegen noch. Du handelst.</span>
            </div>
            <div class="col-12 col-lg-1 pt-2">
                <a href="{{ path('_default') }}">Start</a>
        </row>
    </div>
</header>