<header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                > IMG <
            </div>
            <div class="col-12 col-lg-9 pt-2">
                -- Slogan --
            </div>
            <div class="col-12 col-lg-1 pt-2">
                <a href="{{ path('_default') }}">Start</a>
        </row>
    </div>
</header>