<header>
    <img src="https://jobs.schwarz/var/career_sdl/storage/images/_aliases/header_logo/7/6/7/8/8767-1-ger-DE/SDL-Logo.png" alt="" />
    <span>Manche überlegen noch. Du handelst.</span>
</header>