{% extends '/base.html.twig' %}
{% block title %}{{ 'title'|trans({}, 'legal_notice') }}{% endblock %}

{% block body %}
    {{ legal.content|raw }}
    <a href="{{ path('_legal_notice_edit', {'id': legal.id}) }}" class="btn btn-warning">{{ 'edit'|trans({}, 'messages', legal.language) }}</a>
{% endblock %}